/* Reset Tool CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body {
  background-color: #333;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: justify;
}


header {
  position: relative;
  color: #ffff;
}

.header-logo {
  height: 40px;
  margin-right: 10px;
}

.brand-text {
  display: inline-block;
  position: relative;
  top: -10px;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.5s ease;
}

.navbar.transparent-bg {
  background-color: transparent !important;
  box-shadow: none !important;
}

body.transparent-navbar-padding {
  margin-top: 56px;
}

.navbar-nav {
  padding-right: 20px;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #ccc;
}

.navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu {
  background-color: #343a40; 
}

.dropdown-item{
  color: white;


}


.navbar-nav .nav-item:not(.connexion) a.nav-link:hover {
  color: lightblue; 
}


.navbar-nav .nav-item:not(.connexion).active a.nav-link {
  color: blue;
}


.navbar-nav.vertical-dropdown {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100vh; 
  background-color: #343a40; 
  z-index: 1000; 
  overflow-y: auto;
  transition: left 0.3s ease; 
}


.navbar-nav.vertical-dropdown.show {
  left: 0;
}


.parallax {
  background-image: url('background-image.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  color: white;
  padding: 50px;
  text-align: center;
  position: relative;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.parallax-header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}


.footer {
  text-align: center;
  color: white;
  background-color: #313030;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.footer-content {
  margin: 0 auto;
}

.footer-content h4 {
  margin: 20px;
  text-align: center;
}


.blue-border {
  border: blue solid 2px;
  padding: 5px;
  margin: 0.5px;
  background-color: #ccebff;
}

.bordure {
  border: 2px solid white;
  padding: 5%;
}

.underline {
  text-decoration: underline;
}


.countdown-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.countdown-item {
  text-align: center;
}

.countdown-item span {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.countdown-item p {
  font-size: 0.8rem;
  color: white;
  margin-top: 5px;
}


.responsive-image {
  max-width: 100%;
  display: flex;
}


h2 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  color: #fff;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Impact;
  transform: translate(-50%, -50%);
  font-size: 5em; /* Ajuster la taille de la police selon vos préférences */
  z-index: 2; /* Assurer que le titre est au-dessus des anneaux */
}


.textebienvenue {
  margin-left: 4%;
}


.noir {
  color: black;
}

.connexion{
  color : red !important;
}


.olympic-ring {
  position: absolute;
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  border: 10px solid transparent; 
}

.olympic-ring.nav-link {
  background-color: rgba(255, 255, 255, 0.3); /* Change background color on hover */
}

.olympic-ring.nav-link:hover + h1 {
  display: none;
}

.olympic-ring.nav-link:after {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.olympic-ring.nav-link:hover:after {
  opacity: 1;
}

@media (max-width: 1024px) {
  .olympic-ring {
    display: none;
  }
  .olympic-ring.nav-link:hover {
   display: block;
  }
}
@media (min-width: 1024px) {
  h1, .navbar-nav.vertical-dropdown {
    display: none;
  }
}  


.ring-blue {
  top: 40%;
  left: 27%;
  border-color: #007bff;
  width: 15vw; 
  height: 15vw; 
}


.ring-black {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #000;
  width: 15vw; 
  height: 15vw;
}


.ring-red {
  top: 40%;
  left: 58%;
  border-color: #dc3545;
  width: 15vw; 
  height: 15vw; 
}


.ring-yellow {
  top: 50%;
  left: 35%;
  border-color: #ffc107;
  width: 15vw; 
  height: 15vw; 
}


.ring-green {
  top: 50%;
  left: 50%;
  border-color: #28a745;
  width: 15vw; 
  height: 15vw; 
}


.olympic-ring.nav-link {
  cursor: pointer; 
}

.olympic-ring.nav-link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1; /* Initialement invisible */
  transition: opacity 0.3s ease; 
  pointer-events: none;
}




.ring-clickable {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.ring-blue:hover {
  transform: scale(1.5) translate(-100px, -100px); 
}

.ring-red:hover {
  transform: scale(1.5) translate(100px, -100px); /
}

.ring-green:hover {
  transform: scale(1.5) translate(100px, 100px);
}


.ring-yellow:hover {
  transform: scale(1.5) translate(-100px, 100px);
}

.ring-blue.nav-link:after {
  content: "Accueil";
  opacity: 1;
}

.ring-yellow.nav-link:after {
  content: "Présentation";
  opacity: 1;
}

.ring-green.nav-link:after {
  content: "FAQ";
  opacity: 1;
}

.ring-red.nav-link:after {
  content: "Financement";
  opacity: 1;
}


.carousel-size{
  max-width:80%;
  display:block;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.mainhead{
  margin:5%;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;
  font-weight:lighter;
}

.chiffres{
  text-align: center;
}

.headchiffre{
  border: 1px solid ;
  border-radius: 50%;
  margin:5%;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;
  font-weight:lighter;
}

a{
  text-decoration:none ;
  color: #fff;
}

#source{
  font-size: small;
  font-style: italic;
  display: block;
  margin:2%;
}

p{
  line-height: 135%;
}

#low {
  max-width: 100%;
  display: flex;
  margin-top: 25%;
}

.introduction{
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin:5%;
}


.container {
  border-radius: 10%;
}

.cout{
  border: solid black 1px;
  background-color: #474545;
  padding: 5%;
  border-radius: 13%;
}

.titrefinance{
  border: solid black 1px;
  background-color: #474545;
  padding: 5%;
  border-radius: 13%;
}
hr{
  border: solid black 1px;
  margin-right: 9%;
  text-align: center;
}

.listedroite{
  margin-left: 10%;
  margin-top: 10%;
  max-width: 100%;
}

.listedroite > li {
  margin-top: 7%;
}

.mascottes{
  width: 60%;
  margin-left: 20%;
  
}

.finance-image{
  width: 100%;
  margin-top: 25%;
  margin-left: 20%;
}

.imagecourt{
  width: 50%;
  margin-top: 15%;
  margin-left: 15%;
}

.textedroite{
  margin-top: 20%;
}

#wwf{
  margin-left: 15%;
}


.student-signature{
  font-size: 10px;
  font-style: italic;
  text-align: right;
}
