/* Reset Tool CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: rgb(52, 58, 64);
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */

h2 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: justify;
}

body {
  background-color: rgb(52, 58, 64);
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

html, body {
  background: transparent;
}

header {
  position: relative;
  color: #ffff;
}

body {
  background-color: #333;
  color: #fff;
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  font-size: 100px;
  font-family: Arial, sans-serif;
}

.header-logo {
  height: 40px;
  margin-right: 10px;
}

.brand-text {
  display: inline-block;
  position: relative;
  top: -10px;
}

/* Added styles for the fixed header */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
}

.parallax {
  background-image: url('background-image.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.parallax-header {
  background-image: url('images.png'); /* Ajoutez le chemin correct vers votre image */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; /* Assurez-vous que le texte est lisible sur l'image de fond */
  padding: 50px; /* Ajoutez un padding pour espacer le texte de l'image de fond */
  text-align: center; /* Centrez le texte */
}



.navbar.fixed-top {
  background-color: rgba(255, 255, 255, 0.5);
}

.blue-border {
  border: blue solid 2px;
  padding: 5px;
  margin: 0.5px;
  background-color: #ccebff;
}

.navbar {
  transition: background-color 0.5s ease;
  background-color: #333;
  color: #fff;
}

.navbar-nav {
  padding-right: 20px;
}

.connexion {
  color: red !important;
}

.navbar.transparent-bg {
  background-color: transparent !important;
  box-shadow: none !important;
}

body.transparent-navbar-padding {
  margin-top: 56px;
}

.footer {
  text-align: center;
  color: white;
  background-color: #313030;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.footer-content {
  margin: 0 auto;
}

.footer-content h4 {
  margin: 20px;
  text-align: center;
}

.dropdown-menu {
  text-align: left;
  padding-right: 20px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .dropdown-item {
  padding: 8px 16px;
}

.responsive-image {
  max-width: 100%;
  display: flex;
}

.textebienvenue {
  margin-left: 4%;
}

.bordure {
  border: 2px solid white;
  padding: 5%;
}

.student-signature {
  font-size: 10px;
  font-style: italic;
  text-align: right;
}

.underline {
  text-decoration: underline;
}

.noir{
  color: black;
}

/*regler la taille des images du carousel*/
.carousel-size{
  max-width:50%;
  display:block;
  margin-right: auto;
  margin-left: auto;
}
